@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">NASA Pictures</h1>
        <p class="lead">You can fetch the image of the day from NASA API</p>
        <a asp-action="Picture" class="btn btn-primary btn-lg mt-3">Picture of the Day</a>
    </div>
</div>
