@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cosmic View</h1>
    <h2 class="display-5">A Web App that uses the NASA Picture of the day Api</h2>
    <p>Here you can fetch the image of the day from the NASA API and store it in a local db.</p>
</div>
